/* Extra Thin (100) */
@font-face {
  font-family: 'PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/PFBeauSansPro-XThin.woff2')
    format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/PFBeauSansPro-XThinItalic.woff2')
    format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Thin (200) */
@font-face {
  font-family: 'PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/PFBeauSansPro-Thin.woff2')
    format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/PFBeauSansPro-ThinItalic.woff2')
    format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/PFBeauSansPro-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/PFBeauSansPro-LightItalic.woff2')
    format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Book (350 - dùng gần giống Regular/Light) */
@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-Bbook.woff2')
    format('woff2');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-BbookItalic.woff2')
    format('woff2');
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-Italic.woff2')
    format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-SemiBoldItalic.woff2')
    format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-BoldItalic.woff2')
    format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black (800) */
@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-Black.woff2')
    format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FS PFBeauSansPro';
  src: url('/src/assets/fonts/FSBeauSansPro/FS PFBeauSansPro-BlackItalic.woff2')
    format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
